20:35 24/09/2015<!-- Config file for the game JCV -->

<config>
	<app>	
		<title>Game Development</title>
		<organitzation>Hellsing</organitzation>
	</app>
	
	<renderer>
		<vsync value="false" />
	</renderer>

	<window>
		<name>My super awesome game with XML</name>
		<fullscreen value="false"/>
		<borderless value="false"/>
		<resizable value="false"/>
		<fullscreen_windowed value="false"/>
		<resolution width="1024" height="768" scale="1"/>
	</window>

	<fyle_system>
		<path>data.zip</path>
		<path>data2.zip</path>
	</fyle_system>
	
	
</config>